<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SingupActivity"
            android:exported="false"
            android:label="Registro">
        </activity>

        <activity
            android:name=".ForgotpassActivity"
            android:exported="false"
            android:label="Recuperar Clave">
        </activity>

        <activity
            android:name=".DutyActivity"
            android:exported="false"
            android:label="Duty"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".AccountActivity"
            android:exported="false"
            android:label="Account"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".MyDetailsActivity"
            android:exported="false"
            android:label="DetailsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".HelpSupportActivity"
            android:exported="false"
            android:label="Help &amp; Support"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

        <activity
            android:name=".MyReportsActivity"
            android:exported="false"
            android:label="ReportsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
        </activity>

    </application>
</manifest>